@media all and (max-width: 480px) {

    .container {
        width: 300px;
    }
    #header, #header:after {
        height: 450px;
    }

    .header__container__menu {
        display: none;
    }
    #burg > p > img {
        margin-left: 20px;
    }
    .header__menu__mobile_tab {
        background: rgba(35, 35, 35, 1);
    }
    .burgBackground {
        background: rgba(35, 35, 35, 1);

    }
    /*-----slider-------*/
    .header__container__slider {
        height: 398px;
    }
    .slides {
        width: 300px;
    }
    .text_align {
        width: 300px;
        height: 230px;
    }
    .slides h2 {
        font-size: 18px;
    }
    .slides h1 {
        font-size: 25px;
    }
    .slides p {
        display: none;
    }
    .prev,
    .next {
        display: none;
    }

    .text_align_button {
        left: 35%;
        bottom: 30%
    }
    #Circle {
        left: 110px;
        bottom: 30px;
    }
    .dot {
        height: 10px;
        width: 10px;
    }

    /*------------------section1-------------*/
    #section1 {
        height: 962px;
        z-index: 32;
    }
    #section1__side1 {
        height: 530px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section1__side1__blocks {
        height: 175px;
        width: 175px;
    }
    .section1__side1__blocks:last-child {
        display: none;
    }
    .section1__side1__blocks h2 {
        font-size: 18px;
    }
    .section1__side1__blocks p {
        padding: 5px;
        font-size: 13px;
        height: 38px;
        overflow: hidden;
    }
    .hr,
    .statisticsNumbers__container__content__blocks hr {
        margin: 10px auto;
    }
    #section1__side2 {
        height: 402px;
    }
    .section1__side2__image {
        height: 360px;
    }
    .side2__image__bar {
        display: none;
        width: 298px;
        height: 230px;
    }
    .side2__image__bar:nth-child(3) {
        display: block;
    }
    .image__right {
        left: 0;
    }
    .section1__side2__title {
        height: 175px;
    }
    .section1__side2__title h1 {
        font-size: 18px;
    }
    .section1__side2__title p {
        padding: 0 30px;
        font-size: 12px;
    }

    /* -------purchase__afterSide2 --------*/
    #purchase__afterSide2 {
        height: 100px;
    }
    .purchase__afterSide2__container__text h1 {
        font-size: 16px;
        margin-top: 35px;
        margin-left: 20px
    }
    .purchase__afterSide2__container__text p {
        display: none;
    }
    .purchase__afterSide2__container__text {
        width: 190px;
        height: 100px;
    }
    .purchase__afterSide2__container__button {
        width: 104px;
        line-height: 100px;
        height: 100px;
    }
    .purchase__afterSide2__container__button button {
        margin-top: 10px;
        margin-left: 0;
        width: 85px;
        height: 25px;
        font-size: 7px;
    }
    .purchase__afterSide2__container__content {
        height: 100px;
    }

    /*   ------------ section2  ------------*/
    #section2 {
        min-height: 580px;
    }
    #section2__side1 {
        height: 150px;
    }
    .section2__side1__title {
        width: 300px;
    }
    .section2__side1__title h1 {
        font-size: 24px;
    }
    .section2__side1__title p {
        font-size: 12px;
    }
    .section2__side1__sorting {
        display: none;
    }

    .section2__side2__blocks {
        min-height: 311px;
        justify-content: center;
    }
    #section2__side2 {
        min-height: 427px;
    }
    .section2__side2__button__loadMore,
    .section2__side2__button__loadLess {
        margin-left: 33%;
    }
    /*-----------    section__video ---------*/
    .section__video__container__title {
        top: 110px;
    }
    .section__video__container__icon__play {
        top: 60px;
        width: 50px;
        height: 50px;
    }
    .section__video__container__icon__play img {
        width: 30px;
        height: 30px;
    }
    .section__video__container__title p {
        display: none;
    }
    .section__video__container__title h1 {
        font-size: 17px;
    }
    /*  -----------  section3 ----------*/
    #section3 {
        height: 360px;
    }
    #section3 > .container {
        height: 360px;
    }
    #section3 > .container img {
        width: 150px;
        height: 175px;
        left: 0px;
    }
    .section3__container__text {
        width: 270px;
        height: 360px;
    }
    .section3__container__text h2 {
        font-size: 20px;
    }
    .section3__container__text p {
        font-size: 10px;
        line-height: 17px;
        padding-left: 22px;
        padding-right: 10px;
        margin: 0;
    }
    .section3__container__text > ul li {
        margin: 10px;
        margin-left: 125px;
        margin-right: 0px;
        font-size: 9px;
        background-size: 15px 15px;
        padding-left: 20px;
        min-height: 0;

    }
    /*------------statisticsNumbers block---------*/
    #statisticsNumbers,
    .statisticsNumbers__container__content,
    .statisticsNumbers__container__content__blocks {
        height: 150px;
    }
    .statisticsNumbers__container__content__blocks span {
        font-size: 17px;
    }
    .statisticsNumbers__container__content__blocks img {
        width: 20px;
        height: 20px;
        margin: 10px;
        margin-top: 25px;
    }
    .statisticsNumbers__container__content__blocks h5 {
        font-size: 9px;
    }
    .statisticsNumbers__container__content__blocks:nth-child(2) hr, .statisticsNumbers__container__content__blocks:nth-child(3) hr, .statisticsNumbers__container__content__blocks:nth-child(5) hr{
        margin-top: 19px;
    }

    /*------------section4-----------*/
    #section4 {
        height: 590px;
    }
    .section4__container__title{
        height: 180px;
    }
    .section4__container__title h1 {
        margin-top: 25px;
        font-size: 24px;
    }
    .section4__container__blocks__photo {
        display: none;
    }
    .section4__container__blocks__photo:first-child {
        display: block;
    }
    .section4__container__title p {
        padding: 0 20px;
        font-size: 12px;
    }
    .section4__container__blocks {
        justify-content: center;
    }
    .section4__container__blocks {
        height: 410px;
    }
    /*--------section5----------*/
    #section5 {
        height: 250px;
    }
    #section5:after {
        height: 250px;
    }
    .section5__container__logo {
        height: 250px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section5__container__logo img {
        width: 105px;
        height: 80px;
    }
    /*---------section6----------*/
    #section6 {
        height: 300px;
    }
    .section6__container__content {
        height: 300px;
    }
    .section6__container__content__blocks {
        width: 220px;
        height: 220px;
    }
    .section6__container__content__blocks:nth-of-type(2n) {
        display: none;
    }
    .section6__container__content__blocks:first-child img {
        width: 130px;
        height: 30px;
    }
    .section6__container__content p {
        font-size: 12px;
    }
    .section6__container__content h3 {
        margin-top: 7px;
        margin-bottom: 14px;
    }
    .section6__container__content__blocks hr {
        margin: 5px 0;
    }
    /*-------------footer-------------*/
    .footer__container__content__side1 p {
        font-size: 10px;
        text-align: center;
    }
    .footer__container__content__side2 {
        display: none;
    }
}
